@font-face {
	font-family: ChakraPetchRegular;
	src: url("/idocnet/font/ChakraPetch-Regular.ttf");
}

@font-face {
	font-family: ChakraPetchMedium;
	src: url("/idocnet/font/ChakraPetch-Medium.ttf");
}

.font-1 {
	font-family: ChakraPetchRegular;
}

.font-2 {
	font-family: ChakraPetchMedium;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: ChakraPetchRegular;
}

body {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
}

.d-flex {
	display: flex;
}

.grow-1 {
	flex-grow: 1;
}

.grow-2 {
	flex-grow: 2;
}

.grow-5 {
	flex-grow: 5;
}

.main-nav {
	background-color: white;
	height: 60px;
}

.main-nav-logo {
	display: block;
	max-width: 100%;
	height: auto;
}

.main-nav a {
	font-family: ChakraPetchMedium;
	color: #333333;
	font-size: 16px;
	bottom: -2px;
	position: relative;
	padding: 8px 18px 8px;
	margin: 0;
	border-bottom: 2px solid transparent;
	line-height: 35px;
	width: 100%;
}

.main-nav a:active {
	border-bottom: 2px solid #0e528b;
}

footer {
	background-color: #272d3a;
}

footer form {
	text-align: center;
}

.footer-1 {
}

.footer-logo {
	display: block;
	max-width: 100%;
	height: auto;
}

.copyright {
	text-align: center;
}
