* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

ol,
li {
	list-style: none;
}

@font-face {
	font-family: ChakraPetchRegular;
	src: url("/idocnet/font/ChakraPetch-Regular.ttf");
}

@font-face {
	font-family: ChakraPetchMedium;
	src: url("/idocnet/fonts/ChakraPetch-Medium.ttf");
}

.font-1 {
	font-family: ChakraPetchMedium;
}

.font-2 {
	font-family: ChakraPetchRegular;
}

.main-nav {
	display: flex;
	height: 60px;
}

.main-nav > li {
	font-family: ChakraPetchMedium;
	width: auto;
	height: auto;
}
