* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

.list-product {
	width: 80%;
}

.list-nav {
	color: #337ab7;
	justify-content: center;
}

.row {
}

.row-2 div,
img {
	text-align: center;
}
