* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: auto;
}

a,
a:hover,
a:visited,
a:active {
	text-decoration: none;
	color: unset;
}

ul,
ol,
li {
	list-style: none;
}

.list-product {
	padding: 0px 250px 0px 250px;
}

.list-nav {
	font-size: 15px;
	font-weight: bold;
	padding: 30px 50px 10px 50px;
	color: #337ab7;
	border-bottom: 1px solid #333333;
}

.list-nav > a:active {
	color: #df6a0e !important;
}

.row-2 {
	padding: 10px 0 10px 0;
}

.row-2 div,
img {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

.row-2 img {
	margin-bottom: -20px;
}

.row-2 img:hover {
	transform: scale(1.1);
	transition: 1s;
}
