.product {
	padding: 0;
}

.sticky-nav {
	justify-content: center;
	align-items: center;
	padding: 10px 250px 10px 250px;
}

.sticky {
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
}

.sticky-nav > div > ul > li > a {
	padding: 0 10px;
	font-weight: bold;
	color: #0e528b;
}

.slide-heading {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.slide-heading > a {
	font-size: 32px;
	font-weight: bold;
	color: #0e528b;
	border-bottom: 3px solid #0e528b;
	padding: 10px 10px;
}

.slide-heading-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slide-heading-1 > p {
	font-size: 42px;
	font-weight: bold;
	color: #333333;
	padding: 10px 10px;
}

.slide-paragraph {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #666666;
	padding: 10px 10px;
}

.content-heading {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #333333;
	padding: 10px 10px;
}

.content-paragraph {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	color: #666666;
	padding: 10px 10px;
}

.img {
	position: relative;
}

.img > div {
	position: absolute;
	top: 0;
}

.img > img {
	width: 100%;
}

.img-heading {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 20px 10px;
}

.img-paragraph {
	font-size: 14px;
	font-weight: 600;
	color: #999999;
	padding: 10px 10px;
}

.row {
	display: flex;
	padding: 0 200px 0 200px;
}

.img-1 {
	padding: 20px;
}

.img-1 > img {
	width: 100%;
}

.img-1 > div {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #333333;
}

.img-1 > p {
	font-size: 16px;
	color: #666666;
	padding: 10px 10px;
}
